.articulos {
	width: 50%;
	padding: 6%;
	background-color: $color-primario;
}

.articulo {
	margin-bottom: 75px;
	border-bottom: 3px solid $color-secundario;
	&__categoria {
		@include titulos($Fuente2);
		color: $color-secundario;
		font-weight: 600;
	}
	&__titulo {
		@include titulos($Fuente2);
		color: $color-claro;
		font-weight: 600;
		font-size: 20px;
	}
	&__descripcion {
		color: $color-claro;
	}
}
