.galeria {
	width: 50%;
	height: 250px;
	margin: 10px auto;
	padding: 20px 0 0 30px;
	justify-content: space-evenly;
	@include caja;
	&__foto-principal {
		float: left;
		margin-right: 10px;
	}
	&__fotos-adicionales {
		height: 80px;
		margin: 5px 0;
		img {
			margin-right: 7px;
		}
	}
	h2 {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 20px;
		@include titulos($Fuente2);
	}
	img {
		border-radius: 10px;
	}
}
