.ubicacion--perfil {
	width: 50%;
	height: 90px;
	margin: 30px auto;
	padding: 20px 70px;
	@include caja;
	i {
		display: block;
		float: left;
		font-size: 40px;
		color: $color-variacion;
	}
	h2 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		text-align: center;
		@include titulos($Fuente2);
	}
	h3 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		text-align: center;
		color: get-opacity($color-primario, 0.5);
	}
}
